@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
body {
    /* height: 4000px; */
    margin: 0 auto;
}

img {
    max-width: 100%;
    /* max-height: 100%; */
}

.image1 {
    position: relative;
}

.h1 {
    position: relative;
    top: -870px;
    left: 220px;
    /* line-height: 100px; */
    font-size: 100px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    display: inline-block;
}

.imgHeader {
    position: relative;
    top: -680px;
    left: 230px;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    text-decoration: none;
}

li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    padding: 10px 16px;
}

ul {
    position: relative;
    top: -700px;
    left: 0px;
    font-size: 20px;
}

li a:hover {
    color: black;
    transition: 0.3s;
}

main {
    height: 800px;
}

header {
    height: 800px;
}

.abouttext {
    margin-top: 100px;
    font-size: 30px;
    text-align: center;
}

.bigabout {
    font-size: 50px;
    color: #ef4259;
    font-family: 'Oswald', sans-serif;
}

.littleus {
    font-family: 'Oswald', sans-serif;
}

.itsalongwhile {
    font-family: 'KoHo', sans-serif;
}

.itsa {
    margin-top: 30px;
    text-align: center;
    font-family: 'KoHo', sans-serif;
}

.h2 {
    margin-left: 150px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: bold;
}

.things {
    margin-top: 60px;
}

.longtext {
    text-align: center;
    width: 420px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin-left: 20px;
}

.leftabout {
    box-shadow: #ddd 0 0 10px 13px;
    margin: 60px;
    height: 600px;
}

.marginer {
    /* margin-left: 20px; */
}

.things {
    width: 1200px;
    margin: 0 auto;
}

.aboutone {
    /* margin-left: -10px; */
}

.back {
    width: 140px;
    height: 50px;
    background-color: black;
    border-radius: 20px;
    display: inline-block;
    transition: 0.3s;
}

.btn {
    position: relative;
    /* width: 1200px;
    margin: 0 auto; */
    display: inline-block;
    overflow: hidden;
    float: left;
}

.back:hover {
    background-color: #ef4259;
    cursor: pointer;
    transition: 0.3s;
}

.margin {
    margin-left: 370px;
}

.readmore {
    position: relative;
    top: -40px;
    left: 30px;
    color: white;
}

.readmore:hover {
    cursor: pointer;
}

.margin2 {
    margin-left: 470px;
}

.games {
    height: 400px;
    margin-top: 853px;
    margin-top: 821px;
}

.features {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: -532px;
    left: 0px;
}

.background {
    position: relative;
}

.featur {
    width: 1200px;
    margin: 0 auto;
    color: #ef4259;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font: bold;
}

.gamesspan {
    font-size: 50px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font: bold;
}

.gamessp {
    font-family: 'Open Sans', sans-serif;
    color: white;
    /* margin-left: 20px; */
    width: 550px;
}

.backgroundwhite {
    position: relative;
    margin-top: 80px;
    width: 150px;
    height: 50px;
    background: white;
    border-radius: 20px;
}

.textor {
    position: relative;
    top: 15px;
    left: 39px;
    font-family: 'Open Sans', sans-serif;
}

.game1 {
    position: relative;
    top: -490px;
    left: 635px;
}

.game2 {
    position: relative;
    top: -490px;
    left: 650px;
}

.game3 {
    position: relative;
    top: -190px;
    left: 95px;
}

.game4 {
    position: relative;
    top: -190px;
    left: 110px;
}

.ournews {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    margin-top: 350px;
}

.ourtext {
    color: #ef4259;
    font-size: 75px;
}

.newstext {
    font-size: 55px;
}

.h1our {
    display: inline-block;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
}

.spannewser {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: -41px;
    left: 0px;
}

.bottomertext {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.bottomer {
    margin-top: 30px;
}


/* diujsah nfu efhiuhew nifgweubf uyegf iuewjh nfuoewgbfjqbweyfifjbewugfuienfuiewhf8unwf uegyuffgg */

.col-1 {
    width: 8.3333%;
}

.col-2 {
    width: 16.6666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333%;
}

.col-5 {
    width: 41.666%;
}

.col-6 {
    width: 40%;
}

.col-7 {
    width: 58.3333%;
}

.col-8 {
    width: 66.666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333%;
}

.col-11 {
    width: 91.666%;
}

.col-12 {
    width: 100%;
}